{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Attendance History' %}{% endblock %}

{% block content %}
<div class="row no-gutters card-row">
    <div class="col-11 mx-auto my-auto">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">{% trans "Attendance History" %}</h1>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">UID</th>
                                <th scope="col">{% trans "Title" %}</th>
                                <th scope="col">{% trans "Date" %}</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for event in account.event_set.all %}
                            <tr>
                                <td>{{ event.uid }}</td>
                                <td>{{ event.title }}</td>
                                <td>{{ event.start_date }}</td>
                                <td><a class="btn btn-sm btn-info" href="{% url 'events:detail' uid=event.uid %}"><i class="fas fa-eye fa-fw"></i></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}