{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{{ log.wiki.title }} Log{% endblock %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/wikis.css' %}">
{% endblock %}

{% block content %}
<div class="row no-gutters card-row">
    <div class="col-11 mx-auto my-auto">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">{{ log.wiki.title }} Log</h1>
            </div>
            <div class="card-body">
                <div class="card-body">
                    <p class="card-text">
                        {{ log.content }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}