{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ event.title }}{% endblock %}

{% block content %}
<div class="row no-gutters card-row">
    <div class="col-11 mx-auto my-auto">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">{{ event.title }}</h1>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row no-gutters">
                        <div class="col-lg-3 text-center">
                            {% if user in event.participants.all %}
                            <a class="btn btn-success detail-btn disabled" href="{% url 'events:check' uid=event.uid %}">{% trans "Checked in" %}</a>
                            {% else %}
                            <a class="btn btn-success detail-btn" href="{% url 'events:check' uid=event.uid %}">{% trans "Check in" %}</a>
                            {% endif %}
                            {% if perms.events.edit_events %}
                            <a class="btn btn-warning detail-btn" href="{% url 'events:edit' uid=event.uid %}?next={{ request.get_full_path }}">{% trans "Edit Event" %}</a>
                            {% endif %}
                            {% if perms.events.delete_events %}
                            <a class=" btn btn-danger detail-btn" href="{% url 'events:delete' uid=event.uid %}">{% trans "Delete Event" %}</a>
                            {% endif %}
                        </div>
                        <div class="col-lg-8 offset-lg-1">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <th scope="row">UID</th>
                                            <td>{{ event.uid }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{% trans "Title" %}</th>
                                            <td>{{ event.title }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{% trans "Description" %}</th>
                                            <td>{{ event.description|urlize }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{% trans "Start Date" %}</th>
                                            <td>{{ event.start_date }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{% trans "End Date" %}</th>
                                            <td>{{ event.end_date }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{% trans "Location" %}</th>
                                            <td>{{ event.location }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{% trans "Max Participants" %}</th>
                                            {% if event.max_participants == -1 %}
                                            <td>&#8734;</td>
                                            {% else %}
                                            <td>{{ event.max_participants }}</td>
                                            {% endif %}
                                        </tr>
                                        <tr>
                                            <th scope="row">{% trans "Participants" %}</th>
                                            <td>
                                                {% for participant in event.participants.all %}
                                                <a href="{% url 'accounts:detail' uid=participant.uid %}">{{ participant.get_full_name }}</a><br>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}