{% load static %}
{% load i18n %}
<div id="dashboard">
    <div class="dashboard-header core-font">
        <h1>{% trans "Welcome to the Dashboard" %}, <span class="font-weight-bold text-dark">{{ user.first_name }}</span>!</h1>
        <a class="core-button" id="close-dashboard" href="#close-dashboard"><img src="{% static 'img/icons/close.png' %}"></a>
    </div>
    <div class="dashboard-body core-font">
        <ul>
            <li>
                <a class="btn btn-dark" href="{% url 'accounts:list' %}">
                    <img src="{% static 'img/dashboard/accounts.svg' %}">
                    {% trans "Accounts" %}
                </a>
            </li>
            <li>
                <a class="btn btn-dark" href="{% url 'boxes:list' %}">
                    <img src="{% static 'img/dashboard/boxes.svg' %}">
                    {% trans "Boxes" %}
                </a>
            </li>
            <li>
                <a class="btn btn-dark" href="{% url 'events:list' %}">
                    <img src="{% static 'img/dashboard/events.svg' %}">
                    {% trans "Events" %}
                </a>
            </li>
            <li>
                <a class="btn btn-dark" href="{% url 'memberships:list' %}">
                    <img src="{% static 'img/dashboard/memberships.svg' %}">
                    {% trans "Memberships" %}
                </a>
            </li>
            <li>
                <a class="btn btn-dark" href="{% url 'wikis:view' url='home' %}">
                    <img src="{% static 'img/dashboard/wikis.svg' %}">
                    {% trans "Wikis" %}
                </a>
            </li>
            <li>
                <a class="btn btn-outline-info" href="https://gitlab.com/libreorganize/libreorganize/-/issues/new" data-toggle="modal" data-target="#warningRedirect">
                    <img src="{% static 'img/dashboard/report.svg' %}">
                    {% trans "Request feature" %}
                    <br>
                    {% trans "Report bug" %}
                </a>
            </li>
        </ul>
    </div>
</div>