{% if messages %}
<div class="fixed-top">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true"><i class="fas fa-times-circle"></i></span>
        </button>
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}