{% load static %}
{% load i18n %}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top core-font">
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'img/logos/website.png' %}"></a>
    <div class="core-div">
        {% if not user.is_authenticated %}
        <a class="core-button" href="{% url 'accounts:login' %}"><img src="{% static 'img/icons/login.png' %}"></a>
        {% else %}
        {% if perms.accounts.access_dashboard %}
        <a class="core-button" id="open-dashboard" href="#open-dashboard"><img src="{% static 'img/icons/dashboard.png' %}"></a>
        {% endif %}
        <a class="core-button" href="{% url 'accounts:detail' uid=user.uid %}"><img src="{% static 'img/icons/profile.png' %}"></a>
        <a class="core-button" href="{% url 'accounts:logout' %}"><img src="{% static 'img/icons/logout.png' %}"></a>
        {% endif %}
        <a class="core-button d-lg-none" href="#navbar" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup">
            <img src="{% static 'img/icons/menu.png' %}">
        </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="{% url 'home' %}">{% trans "Home" %}</a>
            <a class="nav-item nav-link" href="{% url 'events:calendar' %}">{% trans "Calendar" %}</a>
            <a class="nav-item nav-link" href="{% url 'wikis:view' url='home' %}">{% trans "Wiki" %}</a>
            {% if not user.membership %}
            <a class="nav-item nav-link" href="{% url 'memberships:enroll' %}">{% trans "Join us" %}</a>
            {% endif %}
        </div>
    </div>
</nav>