{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'View Membership' %}{% endblock %}

{% block content %}
<div class="row no-gutters card-row">
    <div class="col-11 mx-auto my-auto">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">{% trans 'View Membership' %}</h1>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row no-gutters">
                        <div class="col-lg-3 text-center">
                            <a class="btn btn-info detail-btn" href="{% url 'accounts:detail' uid=membership.member.uid %}">{% trans "View Account" %}</a>
                            <a class="btn btn-warning detail-btn"
                                href="{% url 'memberships:edit' uid=membership.uid %}?next={{ request.get_full_path }}">{% trans "Edit Membership" %}</a>
                            <a class=" btn btn-danger detail-btn" href="{% url 'memberships:delete' uid=membership.uid %}">{% trans "Delete Membership" %}</a>
                        </div>
                        <div class="col-lg-8 offset-lg-1">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <th scope="row">UID</th>
                                            <td>{{ membership.uid }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{% trans "Member" %}</th>
                                            <td>{{ membership.member.get_full_name }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{% trans "Type" %}</th>
                                            <td>{{ membership.get_kind_display }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{% trans "Start Date" %}</th>
                                            <td>{{ membership.start_date }}</td>
                                        </tr>
                                        {% if membership.is_active %}
                                        <tr>
                                            <th scope="row">{% trans "Expiration Date" %}</th>
                                            <td>{{ membership.end_date }}</td>
                                        </tr>
                                        {% endif %}
                                        <tr>
                                            <th scope="row">{% trans "Payment Method" %}</th>
                                            <td>{{ membership.get_payment_method_display }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{% trans "Active" %}</th>
                                            <td>{{ membership.is_active|yesno:"Yes,No" }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}