{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Memberships' %}{% endblock %}

{% block content %}
<div class="row no-gutters card-row">
    <div class="col-11 mx-auto my-auto">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">{% trans "Memberships" %}</h1>
            </div>
            <div class="card-body">
                <table id="jsTable" class="table table-striped nowrap" style="width: 100%;">
                    <thead>
                        <tr>
                            <th scope="col">UID</th>
                            <th scope="col">{% trans "Member" %}</th>
                            <th scope="col">{% trans "Start/Payment Date" %}</th>
                            <th scope="col">{% trans "Expiration Date" %}</th>
                            <th scope="col">{% trans "Type" %}</th>
                            <th scope="col">{% trans "Active" %}</th>
                            <th scope="col">
                                {% if perms.memberships.create_memberships %}
                                <a class="btn btn-sm btn-success" href="{% url 'memberships:create' %}?next={{ request.get_full_path }}">
                                    <i class="fas fa-plus fa-fw"></i>
                                </a>
                                {% endif %}
                                {% if perms.memberships.view_memberships %}
                                <a class="btn btn-sm btn-info" href="{% url 'memberships:renewal' %}">
                                    <i class="fas fa-history fa-fw"></i>
                                </a>
                                {% endif %}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for membership in memberships %}
                        <tr>
                            <td>{{ membership.uid }}</td>
                            <td>{{ membership.member }}</td>
                            <td>{{ membership.start_date }}</td>
                            <td>{{ membership.end_date }}</td>
                            <td>{{ membership.get_kind_display }}</td>
                            <td>{{ membership.is_active|yesno:"Yes,No" }}</td>
                            <td>
                                {% if perms.memberships.view_memberships %}
                                <a class="btn btn-sm btn-info" href="{% url 'memberships:detail' uid=membership.uid %}"><i class="fas fa-eye fa-fw"></i></a>
                                {% endif %}
                                {% if perms.memberships.edit_memberships %}
                                <a class="btn btn-sm btn-warning" href="{% url 'memberships:edit' uid=membership.uid %}?next={{ request.get_full_path }}"><i
                                        class="fas fa-pen fa-fw"></i></a>
                                {% endif %}
                                {% if perms.memberships.delete_memberships %}
                                <a class="btn btn-sm btn-danger" href="{% url 'memberships:delete' uid=membership.uid %}?next={{ request.get_full_path }}"><i
                                        class="fas fa-trash fa-fw"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}