{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Memberships' %}{% endblock %}

{% block content %}
<div class="row no-gutters card-row">
    <div class="col-11 mx-auto my-auto">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">{% trans "Membership Renewal" %}</h1>
            </div>
            <div class="card-body">
                <table id="jsTable" class="table table-striped nowrap" style="width: 100%;">
                    <thead>
                        <tr>
                            <th scope="col">UID</th>
                            <th scope="col">{% trans "Member" %}</th>
                            <th scope="col">{% trans "Start/Payment Date" %}</th>
                            <th scope="col">{% trans "End Date" %}</th>
                            <th scope="col">{% trans "Amount" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for membership in memberships %}
                        <tr>
                            <td>{{ membership.uid }}</td>
                            <td><a href="{% url 'memberships:detail' uid=membership.uid %}">{{ membership.member }}</a></td>
                            <td>{{ membership.renewal_period_start }}</td>
                            <td>{{ membership.renewal_period_end  }}</td>
                            <td>{{ membership.get_kind_display }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}