p > a > img {
    max-width: 100% !important; 
    height: auto !important;
}
.container-fluid {
    min-height: 100vh;
    height: 100%;
}
.table td, .table th {
    padding: 0.25rem !important;
}
@media (min-width: 768px) {
    .mt-3 {
        margin-top: 0 !important;
    }
}